{% extends "base.html" %}


{% block content %}


        <div class="post-list">

            {% for article in articles %}

            <article class="post-overview">
                <div style="float: right"><time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%b %d, %Y') }}</time></div>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                <div class="excerpt">{{ article.summary }}</div>
            </article>

            {% endfor %}

        </div>


{% endblock content %}
