{% extends "base.html" %}
{% block title %}
    {{ article.title|striptags}}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="post">
            <header>
                <a href="{{ SITEURL }}/{{ article.url }}"><h1>{{ article.title }}</h1></a>
                <p class="date">Written on <time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%b %d, %Y') }}</time></p>
            </header>

            <article class="{{ article.articletype }}">
                {{ article.content }}
            </article>

            <footer style="padding-bottom: 12em">
                <div style="float: right;">
                    {% for i in range(article.tags | length) %}
                        <a href="{{ SITEURL }}/tag/{{ article.tags[i] }}.html">#{{ article.tags[i] }}</a>{% if i < ((article.tags | length) - 1) %}&nbsp;&nbsp;{% endif %}
                    {% endfor %}
                </div>
                <div>
                    <a href="{{ article.shareurl }}">Share</a>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <a href="mailto:joshalbrecht@gmail.com">Comment</a>
                </div>
            </footer>


    {#        {% include "disqus.html" %}#}

        </div>
    </div>

{% endblock content %}
