<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
{#        <script src="https://cdn.tailwindcss.com"></script>#}
{#        <script src="{{ SITEURL }}/theme/css/tailwind-3.4.1.es"></script>#}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if USE_OPEN_GRAPH %}
            {% if OPEN_GRAPH_FB_APP_ID %}
                <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}" />
            {% endif %}
            <meta property="og:site_name" content="{{ SITENAME }}" />
            {% if article %}
                <meta property="og:type" content="article" />
                <meta property="og:title" content="{{ article.title|striptags }}" />
                <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
                <meta property="og:description" content="{{ article.summary|striptags }}" />
                {% if article.tags %}
                {% for tag in article.tags %}
                    <meta property="article:tag" content="{{ tag }}" />
                {% endfor %}
                {% endif %}
            {% elif page %}
                <meta property="og:type" content="article" />
                <meta property="og:title" content="{{ page.title|striptags }}" />
                <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
            {% else %}
                <meta property="og:type" content="website" />
                <meta property="og:title" content="{{ SITENAME }}" />
                <meta property="og:url" content="{{ SITEURL }}" />
                <meta property="og:description" content="{{ SITENAME }}" />
                {% if OPEN_GRAPH_IMAGE %}
                    <meta property="og:image" content="{{ SITEURL }}/static/{{ OPEN_GRAPH_IMAGE }}"/>
                {% endif %}
            {% endif %}
        {% endif %}
        <link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Merriweather:400,300' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/cid.css">
        {% endblock stylesheets %}
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
    </head>
    <body>
        <script>0</script>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {% block container %}

            {% include "header.html" %}

            {% block content %}
            {% endblock content %}

            {% include "footer.html" %}

        {% endblock container %}
        {% include "ga.html" %}
    </body>
</html>
