<div class="container">
    <footer class="blog-footer">

        <ul class="nav">
            {% if USE_CUSTOM_MENU %}
                {% for name, url in CUSTOM_MENUITEMS %}
                    <li><a href="{{ SITEURL }}/{{ url }}">{{ name }}</a></li>
                {% endfor %}
            {% else %}
                {% for page in PAGES %}
                    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            {% endif %}
            {% for title,url in CONTACTS %}
                <li><a href="{{ url }}">{{ title|capitalize }}</a></li>
            {% endfor %}
            {% include 'email.html' %}
        </ul>

        <p class="disclaimer">
        {% if SITEFOOTER %}
            {{ SITEFOOTER }}
        {% else %}
            <a href="{{ SITEURL }}/archives.html">Index</a>
            &nbsp;
            &nbsp;
            &nbsp;
            <a href="{{ SITEURL }}/pages/acknowledgements.html">Acknowledgements</a>
            &nbsp;
            &nbsp;
            &nbsp;
            <a href="{{ SITEURL }}/pages/welcome-to-more-reasonable.html">About</a>
            &nbsp;
            &nbsp;
            &nbsp;
            <a href="mailto:joshalbrecht@gmail.com">Contact</a>
        {% endif %}
        </p>
    </footer>
</div>
