<div class="container">
    <header class="blog-header">
        <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
        <nav>
            <a style="text-decoration: none;" href="{{ SITEURL }}/{{ INDEX_URL }}">About</a>
        </nav>
    </header>
</div>
