{% extends "base.html" %}


{% block content %}


        <div class="post-list">

            {% for article in articles_page.object_list %}

            <article class="post-overview">
                <div class="container">
                    <div class="post">

                        <header>
                            <a href="{{ SITEURL }}/{{ article.url }}"><h1>{{ article.title }}</h1></a>
                        </header>

                        <article class="{{ article.articletype }}">
                            {{ article.content }}
                        </article>
                    </div>
                </div>

                {% if article.articletype == "scene" %}
                    <div style="width: 100%; height: 18em; margin-top: 2em; background-image: linear-gradient(white, gainsboro);"> </div>
                    <div style=" background-color: gainsboro;">
                        <div class="container" style="padding-bottom: 2em; margin-top: 0">
                            <footer>
                                <div style=" font-size: 2.5em;">
                                    <a href="{{ SITEURL }}/{{ article.url }}#author-notes">See author notes</a>
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <a href="mailto:joshalbrecht@gmail.com">Comment</a>
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <a href="{{ article.shareurl }}">Share</a>
                                </div>
                                <div style="margin-top: 2em; float: right; font-size: 1.5em">
                                    {% for i in range(article.tags | length) %}
                                        <a href="{{ SITEURL }}/tag/{{ article.tags[i] }}.html">#{{ article.tags[i] }}</a>{% if i < ((article.tags | length) - 1) %}&nbsp;&nbsp;{% endif %}
                                    {% endfor %}
                                </div>
                                <div style="clear: both; margin-top: 2em; height: 1em"> </div>
                            </footer>
                        </div>
                        <hr style="margin-bottom: 12em">
                    </div>
                {% else %}
                    <div style="width: 100%; margin-top: 2em;">
                        <div class="container" style="padding-bottom: 2em; margin-top: 0">
                            <footer>
                                <div style="float: right; font-size: 1em">
                                    {% for i in range(article.tags | length) %}
                                        <a href="{{ SITEURL }}/tag/{{ article.tags[i] }}.html">#{{ article.tags[i] }}</a>{% if i < ((article.tags | length) - 1) %}&nbsp;&nbsp;{% endif %}
                                    {% endfor %}
                                </div>
                                <div style=" font-size: 1em;">
                                    <a href="mailto:joshalbrecht@gmail.com">Comment</a>
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <a href="{{ article.shareurl }}">Share</a>
                                </div>
                            </footer>
                        </div>
                        <hr style="margin-bottom: 12em; margin-top: 6em;">
                    </div>
                {% endif %}

            </article>

            {% endfor %}

        </div>

        {% if DEFAULT_PAGINATION %}
        <div class="paginator">
            {% if articles_page.has_previous() %}
                {% if articles_page.previous_page_number() == 1 %}
                    <a href="{{ SITEURL }}/{{ page_name }}.html">&lt;&lt;&lt;</a>
                {% else %}
                    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">
                        &lt;&lt;&lt;
                    </a>
                {% endif %}
            {% endif %}
            {% if articles_paginator.num_pages > 1 %}
                Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
                {% if articles_page.has_next() %}
                    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">
                        &gt;&gt;&gt;
                    </a>
                {% endif %}
            {% endif %}
        </div>
        {% endif %}

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
              var elements = document.getElementsByClassName('author-notes');
              for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = 'none';
              }
            });
        </script>

{% endblock content %}
