* {
  /*background-color: #fefefe;*/
  /*color: #030303;*/
}

code, kbd, pre, samp {
  font-family: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}

body {
  font-family: 'Merriweather', 'Georgia', serif;
  font-weight: 300;
}

body a {
  font-weight: 400;
  color: gray;
}

body a:hover {
  color: black;
}


body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Gentium Book Basic', 'Georgia', serif;
}

body h1 a, body h2 a, body h3 a, body h4 a, body h5 a, body h6 a {
  font-weight: bold;
  color: gray;
  text-decoration: none;
}

body h1 a:hover, body h2 a:hover, body h3 a:hover, body h4 a:hover, body h5 a:hover, body h6 a:hover {
  color: black;
}

body iframe {
  max-width: 100%;
  margin: 2em auto;
  display: block;
}

.disclaimer {
  text-align: center;
  font-size: 0.8em;
}

.nav {
  list-style: none;
  padding-left: 0;
}

.nav li {
  display: inline-block;
  margin-right: 0.56em;
}

@media screen and (max-width: 640px) {
  .nav li {
    display: block;
    margin-right: 0;
  }
}

.header-link {
  font-size: 70%;
  float: right;
}

.container {
  max-width: 56em;
  margin: 1em auto;
}

@media screen and (max-width: 640px) {
  .container {
    margin: 0.8em;
  }
}

.container .paginator {
  text-align: center;
  margin: 3.2em 0;
}

.container .blog-header {
  margin-bottom: 3em;
  position: relative;
}

.container .blog-header h1 {
  margin-bottom: 0;
}

.container .blog-header p {
  margin-top: 0.2em;
}

.container .blog-header nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 2px;
  font-family: 'Gentium Book Basic', 'Georgia', serif;
}

@media screen and (max-width: 640px) {
  .container .blog-header nav {
    position: relative;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .container .blog-header {
    text-align: center;
  }
}

.container .nav {
  font-size: 1.2em;
}

.container .blog-footer {
  text-align: center;
    padding-bottom: 24em;
}

.container .post {
  font-size: 1.18em;
}

@media screen and (max-width: 640px) {
  .container .post {
    font-size: 1em;
  }
}

.container .post h1 {
  font-size: 1.5em;
}

.container .post h2 {
  font-size: 1.44em;
}

.container .post h3 {
  font-size: 1.3em;
}

.container .post h4 {
  font-size: 1.2em;
}

.container .post h5, .container .post h6 {
  font-size: 1.18em;
}

.container .post a {
  font-weight: 400;
  text-decoration: none;
  color: gray;
}
.container .post a:hover {
  color: black;
}
.container .post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 1em;
    margin-bottom: 5em;
}
.container .post code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
.container .post .highlight {
    font-size: 0.9em;
    overflow-x: auto;
}
.container .post blockquote {
    font-style: italic;
    font-weight: 300;
}
.container .post header {
    margin: 2.2em 0;
}
.container .post header h1 {
  font-size: 2.45em;
}
.container .post header p.date {
  margin-top: -1.3em;
}
.container .post article {
    line-height: 1.73333em;
}
.container .scene p {
  line-height: 1.6em;
  font-size: 2em;
  margin: 0;
  padding: 0;
}
.container .post footer {
    margin: 2em 0 3em;
}
